@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }



}

@font-face {
  font-family: 'Sarabun';
  src: url('/fonts/Sarabun-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'Sarabun', sans-serif;
}
body {
background-color: oklch(0.2533 0.016 255.42);
  color: var(--foreground);
  font-family: 'Sarabun', sans-serif;
  overflow-x: hidden;

}



